@use "../mixins";
@use "article-mixins";

.article-related, .article-recommended {
  margin-top: 0;
  @include article-mixins.article-list(true);

  header {
    width: 100%;
  }

  hgroup {
    p {
      @include mixins.subheading;
    }

    a {
      color: inherit;
    }
  }
}
