@use "sass:map";
@use "../breakpoints";
@use "../mixins";

.expertise {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  hgroup p:first-child {
    @include mixins.subheading;
  }

  dl {
    margin: 0 0 24px;
    padding: 0;
  }

  dt {
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: var(--color-heading);

    img {
      margin-right: 16px;
    }
  }

  dd {
    padding: 0 0 0 64px;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }

  > img {
    max-width: 100%;
    height: auto;
    border-radius: var(--img-border-radius);
  }

  @media (min-width: map.get(breakpoints.$breakpoints, "lg")) {
    flex-direction: row;
    column-gap: 64px;

    hgroup, div {
      flex: 0 1 calc((100% - 64px) / 2);
    }

    hgroup {
      position: relative;

      &:after {
        display: inline-block;
        content: url("data:image/svg+xml,%3Csvg width='169' height='209' viewBox='0 0 169 209' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M102.552 198.453C103.376 198.536 104.111 197.934 104.194 197.11C104.276 196.285 103.674 195.55 102.85 195.468L102.552 198.453ZM38.141 152.371L39.5818 151.953L39.5817 151.953L38.141 152.371ZM83.521 120.671L85.0171 120.562L85.017 120.561L83.521 120.671ZM29.201 53.6407L28.4296 52.3543L28.4292 52.3545L29.201 53.6407ZM5.45104 39.3107L3.96368 39.1164L3.96367 39.1164L5.45104 39.3107ZM166.471 29.1414C167.112 29.6662 168.057 29.572 168.582 28.9309C169.107 28.2899 169.012 27.3449 168.371 26.8201L166.471 29.1414ZM91.6385 179.301C90.8436 179.535 90.3884 180.368 90.6218 181.163C90.8551 181.958 91.6887 182.413 92.4836 182.18L91.6385 179.301ZM104.681 197.591L105.38 198.918C105.757 198.72 106.031 198.371 106.135 197.958C106.24 197.545 106.164 197.108 105.926 196.755L104.681 197.591ZM85.242 206.134C84.5091 206.52 84.2278 207.427 84.6139 208.16C84.9999 208.893 85.9071 209.174 86.64 208.788L85.242 206.134ZM102.701 196.961C102.85 195.468 102.85 195.468 102.851 195.468C102.85 195.468 102.85 195.468 102.85 195.468C102.849 195.468 102.847 195.468 102.845 195.468C102.84 195.467 102.831 195.466 102.82 195.465C102.797 195.463 102.762 195.459 102.714 195.454C102.619 195.443 102.475 195.426 102.285 195.403C101.905 195.356 101.341 195.281 100.617 195.173C99.1675 194.955 97.0769 194.599 94.5295 194.051C89.4309 192.953 82.523 191.087 75.2739 188.015C60.7367 181.854 45.0891 170.963 39.5818 151.953L36.7003 152.788C42.573 173.059 59.2054 184.463 74.1032 190.777C81.5715 193.942 88.6699 195.858 93.8982 196.984C96.5143 197.547 98.6673 197.913 100.171 198.139C100.923 198.252 101.513 198.33 101.917 198.38C102.119 198.405 102.275 198.423 102.382 198.435C102.435 198.441 102.477 198.445 102.505 198.448C102.519 198.45 102.53 198.451 102.538 198.452C102.542 198.452 102.545 198.453 102.548 198.453C102.549 198.453 102.55 198.453 102.55 198.453C102.551 198.453 102.552 198.453 102.701 196.961ZM39.5817 151.953C36.8365 142.486 38.1776 135.272 41.5671 129.9C44.9867 124.481 50.609 120.753 56.7278 118.544C62.8484 116.335 69.3192 115.702 74.2501 116.348C76.7225 116.671 78.7076 117.303 80.0567 118.133C81.3929 118.955 81.958 119.865 82.0251 120.78L85.017 120.561C84.8566 118.372 83.477 116.715 81.6287 115.578C79.7932 114.449 77.354 113.728 74.6395 113.373C69.1967 112.66 62.2437 113.364 55.7093 115.722C49.173 118.081 42.9092 122.152 39.03 128.299C35.1207 134.495 33.7506 142.616 36.7004 152.788L39.5817 151.953ZM82.025 120.779C82.1986 123.175 80.574 126.336 76.9856 129.473C73.4657 132.549 68.3141 135.357 62.13 137.056C49.7929 140.444 33.4972 139.382 18.1628 127.437L16.3193 129.804C32.4749 142.389 49.7692 143.562 62.9246 139.948C69.4868 138.146 75.057 135.143 78.9599 131.732C82.7943 128.38 85.2935 124.376 85.0171 120.562L82.025 120.779ZM18.1628 127.437C10.5142 121.479 6.18427 114.793 4.24747 107.96C2.30714 101.115 2.73866 94.0141 4.79344 87.1987C8.91809 73.518 19.5251 61.1965 29.9729 54.9269L28.4292 52.3545C17.397 58.9749 6.27899 71.8785 1.92115 86.3327C-0.265316 93.5848 -0.764428 101.279 1.36118 108.778C3.49032 116.29 8.22289 123.497 16.3193 129.804L18.1628 127.437ZM29.9724 54.9272C40.5563 48.5808 57.6653 42.0901 72.0732 40.8767C79.2913 40.2688 85.6109 41.0054 90.0875 43.5299C94.433 45.9806 97.2332 50.2215 97.3011 57.2153L100.301 57.1862C100.224 49.235 96.9365 43.9483 91.5611 40.9168C86.3167 37.9592 79.282 37.2589 71.8214 37.8873C56.8718 39.1463 39.3258 45.8206 28.4296 52.3543L29.9724 54.9272ZM97.3011 57.2153C97.364 63.6966 91.9956 68.9615 82.9207 72.3946C73.948 75.7891 61.9156 77.1313 50.0071 76.0568C38.0904 74.9816 26.4951 71.5047 18.3121 65.4505C10.2016 59.45 5.44449 50.9417 6.9384 39.505L3.96367 39.1164C2.30759 51.7947 7.68043 61.3165 16.5278 67.8622C25.3025 74.3542 37.4929 77.9398 49.7375 79.0446C61.9902 80.1502 74.4947 78.7898 83.9822 75.2006C93.3677 71.6499 100.383 65.6498 100.301 57.1862L97.3011 57.2153ZM6.9384 39.505C8.42992 28.089 16.0729 19.387 27.7354 13.3092C39.4149 7.22248 54.9778 3.86182 71.8634 3.14563C105.681 1.71127 144.187 10.8985 166.471 29.1414L168.371 26.8201C145.325 7.953 105.996 -1.30479 71.7362 0.148327C54.583 0.875873 38.5465 4.29208 26.3489 10.6488C14.1342 17.0144 5.62216 26.4225 3.96368 39.1164L6.9384 39.505ZM92.4836 182.18C92.0173 182.317 91.6626 182.166 91.6011 182.139C91.501 182.096 91.4568 182.058 91.4827 182.078C91.5286 182.112 91.6417 182.21 91.832 182.409C92.2014 182.796 92.706 183.395 93.315 184.168C94.5251 185.702 96.0508 187.793 97.5566 189.914C99.0592 192.031 100.529 194.159 101.624 195.76C102.172 196.56 102.625 197.227 102.941 197.695C103.099 197.928 103.223 198.112 103.307 198.236C103.35 198.299 103.382 198.347 103.403 198.379C103.414 198.395 103.422 198.407 103.428 198.415C103.43 198.419 103.432 198.422 103.434 198.424C103.434 198.425 103.435 198.426 103.435 198.426C103.435 198.427 103.436 198.427 103.436 198.427C103.436 198.427 103.436 198.427 104.681 197.591C105.926 196.755 105.926 196.754 105.926 196.754C105.926 196.754 105.926 196.754 105.926 196.754C105.925 196.753 105.925 196.752 105.924 196.751C105.923 196.749 105.92 196.746 105.918 196.742C105.912 196.733 105.904 196.721 105.892 196.704C105.87 196.671 105.838 196.623 105.795 196.56C105.71 196.433 105.585 196.248 105.426 196.013C105.107 195.542 104.651 194.871 104.1 194.066C103 192.457 101.519 190.313 100.003 188.177C98.49 186.046 96.9289 183.905 95.6705 182.31C95.0453 181.517 94.4703 180.828 94.0005 180.336C93.7712 180.097 93.5248 179.859 93.2821 179.677C93.1637 179.588 92.9928 179.472 92.7852 179.383C92.6161 179.31 92.1729 179.145 91.6385 179.301L92.4836 182.18ZM103.982 196.264L85.242 206.134L86.64 208.788L105.38 198.918L103.982 196.264Z' fill='%232970FF'/%3E%3C/svg%3E%0A");
        position: absolute;
        left: 40px;
        bottom: -75px;
      }
    }
  }
}
