.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 48px;
  box-sizing: border-box;
  border: none;
  border-radius: var(--button-border-radius);
  background-color: var(--button-bg);
  color: var(--button-color);
  font-size: 16px;
  line-height: 1;
  font-weight: 600;
  padding: 14px 22px;

  &:hover {
    background-color: var(--button-hover-bg);
    cursor: pointer;
  }

  &[disabled], &.disabled {
    background-color: var(--button-disabled-bg);
    cursor: not-allowed;
  }

  &.full {
    width: 100%;
  }

  &--secondary {
    color: var(--button-secondary-color);
    background-color: var(--button-secondary-bg);
    border: 1px solid var(--button-secondary-border-color);

    &:hover {
      background-color: var(--button-secondary-hover-bg);
    }

    &[disabled], &.disabled {
      color: var(--button-secondary-disabled-color);
      background-color: var(--button-secondary-hover-bg);
      border-color: var(--button-secondary-disabled-border-color);
    }
  }
}
