@use "sass:map";
@use "../breakpoints";
@use "../mixins";
@use "../buttons";

.content {
  max-width: 720px;
  margin: 0 auto;

  > section {
    background-color: var(--bg-service-card);
    border-radius: var(--border-radius);
    padding: 64px;
    margin-bottom: 32px;
    text-align: center;

    a {
      display: inline-block;
      @include buttons.btn;
    }
  }

  ul {
    margin: 0;
    padding: 0 0 0 16px;

    li {
      display: flex;
      column-gap: 12px;

      &:before {
        content: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_842_16123)'%3E%3Cpath d='M8.7487 14.0002L12.2487 17.5002L19.2487 10.5002M25.6654 14.0002C25.6654 20.4435 20.442 25.6668 13.9987 25.6668C7.55538 25.6668 2.33203 20.4435 2.33203 14.0002C2.33203 7.55684 7.55538 2.3335 13.9987 2.3335C20.442 2.3335 25.6654 7.55684 25.6654 14.0002Z' stroke='%231570EF' stroke-width='2.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_842_16123'%3E%3Cpath d='M0 14C0 6.26801 6.26801 0 14 0C21.732 0 28 6.26801 28 14C28 21.732 21.732 28 14 28C6.26801 28 0 21.732 0 14Z' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      }
    }
  }

  dl {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin: 0 0 32px;
    padding: 0;

    dd {
      margin: 0;
      padding: 0;
      font-size: 16px;
      line-height: 24px;
    }

    img {
      margin-bottom: 20px;
      display: block;
    }

    h6 {
      margin-bottom: 8px;

      span {
        color: var(--color-red);
      }
    }
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: start;
  row-gap: 32px;
  border-bottom: 1px solid var(--color-footer-delimiter);
  padding-bottom: 32px;
  margin-bottom: 32px;

  hgroup {
    display: flex;
    flex-wrap: wrap;
    gap: 8px 8px;

    p {
      --bg-tag-color: var(--bg-tag-red);
      @include mixins.label;
      margin: 0;

      &:first-of-type {
        &:before {
          --bg-tag-color: var(--bg-tag-blue);
        }
      }
    }

    h1 {
      width: 100%;
    }
  }

  .job-closed {
    color: var(--color-heading);
    background-color: var(--button-disabled-bg);
    padding: 16px 8px;
    border-radius: var(--border-radius);
    text-align: center;
    font-weight: 500;
  }

  div {
    > p {
      font-size: 16px;
      line-height: 24px;
    }

    div {
      display: flex;
      column-gap: 20px;

      p {
        display: flex;
        align-items: center;
        column-gap: 8px;
        font-weight: 500;
        margin: 0;
      }
    }
  }

  > a {
    @include buttons.btn;
    display: inline-block;
  }
}

// TODO: Move the class to appropriate file.
.success {
  color: var(--color-green);
  text-align: center;
  margin-top: 64px;
}

@media (min-width: map.get(breakpoints.$breakpoints, "md")) {
  .content {
    dl {
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: 32px;

      div {
        width: calc((100% - 32px) / 2);
      }
    }
  }
}

@media (min-width: map.get(breakpoints.$breakpoints, "lg")) {
  .header {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    column-gap: 64px;

    > div {
      flex: 1;
    }
  }
}
