# Auth
NEXT_PUBLIC_STACK_PROJECT_ID=PROJECT_ID
NEXT_PUBLIC_STACK_PUBLISHABLE_CLIENT_KEY=PUBLISHABLE_CLIENT_KEY
STACK_SECRET_SERVER_KEY=SECRET_SERVER_KEY
JWT_SECRET=JWT_SECRET

# MailGun
MAILGUN_API_KEY=API_KEY

# ReCaptcha
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=SITE_KEY
RECAPTCHA_SECRET_KEY=SECRET_KEY

# Database
DATABASE_PORT=3306
DATABASE_HOST=localhost
DATABASE_NAME=database
DATABASE_USER=user
DATABASE_PASSWORD=pwd
DATABASE_ROOT_PASSWORD=rpwd

# Docker | Project Name
PROJECT_NAME=moldstud

# # Docker | PHPMyAdmin
PHPMYADMIN_PORT=3001
