@use "sass:map";
@use "../breakpoints";
@use "../mixins";

.clients {
  display: flex;
  flex-direction: column;

  hgroup {
    p {
      &:first-child {
        @include mixins.subheading;
      }

      strong {
        font-weight: 500;
        color: var(--color-heading);
      }
    }
  }

  dl {
    margin: 0 0 40px;
    padding: 0;
  }

  dt {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-weight: 600;
    color: var(--color-heading);
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px;
  }

  dd {
    display: flex;
    align-items: center;
    column-gap: 12px;
    padding: 0 0 0 16px;
    margin: 0 0 20px;

    &:before {
      display: inline-block;
      content: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0_725_15704)'%3E%3Cpath d='M8.74998 14.0002L12.25 17.5002L19.25 10.5002M25.6666 14.0002C25.6666 20.4435 20.4433 25.6668 14 25.6668C7.55666 25.6668 2.33331 20.4435 2.33331 14.0002C2.33331 7.55684 7.55666 2.3335 14 2.3335C20.4433 2.3335 25.6666 7.55684 25.6666 14.0002Z' stroke='%231570EF' stroke-width='2.33333' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0_725_15704'%3E%3Crect width='28' height='28' rx='14' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }
  }

  div {
    width: 100%;
  }

  video {
    border-radius: var(--border-radius);
    height: auto;
    width: 100%;
  }

  @media (min-width: map.get(breakpoints.$breakpoints, "md")) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 64px 64px;

    hgroup {
      text-align: center;
      width: 100%;
      order: 0;

      p {
        &:last-child {
          overflow: hidden;
          max-width: 700px;
          margin: 0 auto;
        }

        strong {
          position: relative;

          &:after {
            display: inline-block;
            content: url("data:image/svg+xml,%3Csvg width='658' height='18' viewBox='0 0 658 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.75976 10.0644L8.64652 10.1223C9.62765 10.132 10.2836 9.94643 10.9396 9.76088C11.5956 9.57532 12.2487 9.67776 12.5729 9.96896C12.8981 10.1642 13.5522 10.1706 14.5333 10.1803C16.8226 10.2028 19.1109 10.3214 21.4021 10.1519C23.6933 9.98245 26.3068 10.2962 28.597 10.2227C30.2332 10.1429 31.8703 9.96696 33.1785 9.97984C37.7571 10.0249 42.0086 10.0668 46.59 9.82387C48.2262 9.74398 50.1894 9.66731 51.4995 9.4882C52.1545 9.39864 52.8095 9.30908 53.7897 9.41474C57.3834 9.83414 60.9828 9.67757 64.584 9.32901C66.5481 9.15634 68.1833 9.17244 70.1456 9.19176C74.3972 9.23362 78.3217 9.27226 82.2509 8.83093C82.905 8.83737 83.56 8.74781 84.2132 8.85025C85.8465 9.05834 87.1584 8.68723 88.4656 8.79611C90.0999 8.9082 90.7587 8.43467 92.392 8.64276C93.3722 8.74842 95.0084 8.66852 96.6436 8.68462L97.6247 8.69428C98.9348 8.51517 100.244 8.43206 101.551 8.54093C103.186 8.55703 104.825 8.18914 106.459 8.39723C109.077 8.231 112.018 8.45198 114.637 8.28575C119.546 7.95007 124.452 7.99837 129.359 7.85468L136.23 7.63432C138.519 7.65686 141.137 7.49063 143.427 7.51317C145.716 7.53571 148.005 7.55825 150.297 7.2928L151.606 7.30568C153.568 7.325 155.529 7.44032 157.168 7.07243L158.803 7.08853C161.418 7.30629 164.362 7.23927 166.979 7.16904C169.924 7.10202 172.87 6.84301 175.485 6.96477C178.428 7.08974 181.372 7.02273 184.317 6.85972C185.954 6.77983 187.263 6.69671 188.897 6.8088C190.531 6.9209 192.169 6.64901 193.803 6.8571C195.436 7.06519 196.747 6.79009 198.383 6.71019C200.346 6.63352 202.637 6.56007 204.599 6.57939C206.234 6.59549 208.195 6.7108 209.832 6.53491C210.487 6.44535 211.142 6.4518 211.796 6.45824C214.739 6.48722 218.008 6.7114 220.955 6.3564C222.587 6.66049 224.553 6.29583 226.513 6.50714C228.801 6.72167 230.767 6.35701 232.729 6.37633C236.327 6.41175 239.923 6.54317 243.522 6.3866C247.122 6.23003 250.392 6.26223 253.988 6.48964C254.314 6.58885 254.968 6.59529 255.623 6.50574C258.571 6.05474 262.166 6.37815 265.436 6.41035C266.417 6.42001 267.4 6.23768 268.708 6.34655C270.342 6.45865 272.631 6.48119 274.267 6.40129C276.886 6.23506 279.5 6.45281 281.791 6.28336C284.406 6.50112 286.694 6.61966 289.312 6.45342C290.946 6.66152 292.255 6.5784 293.565 6.39929C294.875 6.22017 296.179 6.61704 297.815 6.53715C299.451 6.45725 301.74 6.57579 303.377 6.3999C305.34 6.32322 307.301 6.43854 309.264 6.45786L317.113 6.53514C320.056 6.56412 322.999 6.6891 325.616 6.61886C328.233 6.54863 330.848 6.76638 333.465 6.69614C337.39 6.63879 341.643 6.58465 345.565 6.81528C347.2 6.92738 348.836 6.84748 350.471 6.86358C351.453 6.77725 352.434 6.7869 353.415 6.79656L361.918 6.88029C363.553 6.99238 365.192 6.6245 366.825 6.83259C368.458 7.04068 370.097 6.6728 371.732 6.7849C373.039 6.89377 374.673 7.00587 376.308 7.02197C376.634 7.12118 376.961 7.1244 377.289 7.03163C380.236 6.77262 383.504 6.99682 386.448 6.9298C389.066 6.85956 391.679 7.17331 394.298 6.91108C394.626 6.81831 394.953 6.91752 395.28 6.92074C398.55 6.95294 402.147 7.08436 405.744 7.11978C410.323 7.16486 414.576 7.01472 419.155 7.0598C419.482 7.06302 420.136 7.06947 420.462 7.16868C421.768 7.37356 422.75 7.28722 424.058 7.3001L436.813 7.42569C438.775 7.44501 440.411 7.36511 442.047 7.38121C444.009 7.40053 445.97 7.51585 447.932 7.53517C449.895 7.55449 451.857 7.5738 453.493 7.49391C458.069 7.82697 462.326 7.29286 466.902 7.62593C467.228 7.72515 467.884 7.53959 468.211 7.54281C469.517 7.74768 469.847 7.46292 469.85 7.17493L470.505 7.08537C471.158 7.18781 471.483 7.38303 472.136 7.48546C474.426 7.508 477.039 7.82175 479.329 7.84429C481.945 7.87005 484.234 7.89259 486.851 7.82235C490.123 7.75856 493.717 8.08197 497.319 7.7334C497.319 7.7334 497.646 7.73662 497.645 7.83261C498.952 7.94149 500.259 8.05037 501.895 7.97047C503.532 7.89058 505.165 8.09866 506.475 7.91955C507.13 7.83 508.111 7.83966 508.764 7.94209C511.051 8.25262 513.341 8.17917 515.959 8.01294C517.595 7.93304 519.231 7.94914 520.538 8.05802C522.825 8.27255 524.788 8.19588 526.751 8.2152C530.675 8.25384 534.275 8.00127 537.87 8.32468C541.143 8.06889 544.738 8.3923 548.01 8.23251C549.973 8.15584 552.261 8.37037 554.226 8.1017C554.554 8.00893 555.208 8.01537 555.861 8.1178C558.474 8.52755 562.074 8.27497 565.344 8.30717L566.653 8.32005C571.885 8.37157 577.444 8.52231 582.678 8.47784C586.603 8.42048 590.525 8.74711 594.451 8.59376C597.067 8.71551 599.683 8.74128 601.972 8.76382L607.205 8.81534L612.765 8.87008C614.401 8.79018 616.362 8.90549 617.998 8.8256C619.634 8.7457 621.268 8.9538 623.23 8.97312L641.871 9.15666C646.123 9.19852 650.371 9.62436 654.952 9.38145C655.605 9.48389 656.258 9.58633 656.588 9.30156C656.919 8.9208 655.937 9.00714 655.285 8.80871C654.633 8.61028 653.653 8.50462 653.001 8.21019C652.022 8.00854 650.715 7.89966 649.407 7.88678C646.463 7.8578 643.195 7.63361 640.254 7.31665C637.967 7.10211 635.678 6.98359 633.389 6.96105C630.773 6.93529 628.156 7.00552 625.87 6.599C624.89 6.49334 623.908 6.57968 623.254 6.57324C619.983 6.54104 616.713 6.50883 613.443 6.38064C609.193 6.24278 604.943 6.00893 600.692 5.96707C599.056 5.95097 597.42 6.03087 595.785 6.01477C595.131 6.00833 594.476 6.09788 593.822 6.09144C588.589 6.03991 583.687 5.60763 578.453 5.74811C575.508 5.81512 572.894 5.59737 569.949 5.76038C562.101 5.58711 554.25 5.70181 546.074 5.62131C545.419 5.61487 544.766 5.51244 544.112 5.506C540.842 5.4738 537.574 5.15361 533.973 5.50217C532.991 5.5885 532.009 5.67484 531.03 5.47319C529.723 5.26832 528.088 5.25222 526.78 5.23934C522.855 5.2007 518.933 4.97007 515.331 5.41463L513.041 5.39209C510.428 5.07834 507.807 5.53256 505.194 5.12282C503.556 5.3947 501.596 5.18338 499.634 5.16406C497.671 5.14474 495.707 5.31741 493.747 5.1061C491.786 4.89479 489.821 5.16346 487.859 5.14414C484.262 5.10872 480.991 5.07652 477.395 4.9451C473.471 4.81047 469.872 4.96704 466.274 4.93162L425.721 4.53234C420.815 4.48403 415.58 4.7205 410.35 4.38099C408.389 4.26568 406.098 4.43513 404.135 4.41581C402.173 4.39649 399.884 4.37395 397.922 4.25863C395.961 4.14332 394.323 4.41521 392.689 4.30311C391.055 4.19102 389.09 4.36368 387.454 4.44358C385.491 4.52025 383.86 4.12017 381.569 4.19363C376.989 4.34054 372.412 4.10347 367.834 4.05839C366.852 4.04873 366.199 3.94629 365.544 4.03585C361.618 4.1892 357.696 3.86256 353.77 4.01591C351.48 4.08937 349.517 4.07005 347.228 4.04751L326.624 3.84465C320.738 3.78669 314.524 3.72551 308.636 3.76355C302.421 3.79836 296.208 3.64118 289.993 3.772C287.375 3.84223 284.432 3.81324 281.489 3.78426L272.659 3.69732L266.118 3.63292C264.155 3.6136 262.194 3.49829 260.557 3.67418C258.265 3.93963 256.308 3.34433 254.016 3.60978C251.401 3.48802 248.456 3.65103 245.838 3.72127C243.548 3.79472 241.261 3.58019 238.97 3.65365C234.717 3.80378 230.793 3.66914 226.867 3.82249C222.941 3.97584 219.017 3.84121 215.092 3.80257C211.822 3.77037 208.549 4.02615 205.278 3.99395C204.624 3.98751 203.969 4.07707 203.315 4.07063C197.428 4.01266 191.866 4.24591 186.306 4.19117C185.325 4.18151 184.343 4.26784 183.689 4.2614C182.056 4.05331 181.073 4.13965 179.436 4.31554C178.782 4.3091 177.799 4.49143 177.146 4.389C174.86 4.07847 172.892 4.63512 170.93 4.51981C168.642 4.40127 166.352 4.47472 164.389 4.55139C161.444 4.61841 158.501 4.58944 155.557 4.65645C149.014 4.78404 142.794 5.29884 136.254 5.23443C135.272 5.22477 134.292 5.11912 133.637 5.20867C131.999 5.48056 130.037 5.46123 128.402 5.44513C125.131 5.41293 122.184 5.76793 118.915 5.63974C117.277 5.91162 115.315 5.79631 113.352 5.87299C112.043 5.9561 111.063 5.85045 110.081 5.93678C105.825 6.27891 101.246 6.32982 96.9943 6.28796C92.7427 6.2461 88.8154 6.49544 84.889 6.64879C81.2896 6.80536 77.6893 7.05792 73.7639 7.11528C71.1466 7.18551 68.8573 7.16297 66.2391 7.3292C63.6208 7.49543 60.6784 7.37047 58.3863 7.63591C54.129 8.17002 49.2281 7.64174 44.9709 8.17585C44.6439 8.17263 44.6448 8.07663 44.3178 8.07341C36.4688 7.99613 28.6141 8.49483 20.765 8.41755C20.111 8.41111 19.7839 8.40789 19.1289 8.49745C17.4918 8.67334 15.5295 8.65401 13.8943 8.63791C9.64277 8.59605 5.71542 8.8454 1.79092 8.80676C0.155706 8.79066 -0.503106 9.26419 0.475185 9.56183C1.45348 9.85948 1.45159 10.0515 2.75976 10.0644Z' fill='%232E90FA'/%3E%3C/svg%3E%0A");
            position: absolute;
            left: -40px;
            bottom: -20px;
          }
        }
      }
    }
  }

  @media (min-width: map.get(breakpoints.$breakpoints, "lg")) {
    dl:first-of-type {
      order: 1;
    }

    dl:last-of-type {
      order: 3;
    }

    div {
      order: 2;
      flex: 1;
      width: auto;
    }
  }
}
