@use "sass:map";
@use "../breakpoints";
@use "../buttons";

.wcag {
  display: flex;
  flex-direction: column;

  a {
    @include buttons.btn;
    display: inline-block;
  }

  div {
    background-color: var(--bg-service-card);
    border-radius: var(--img-border-radius);
    width: 100%;
    padding: 20px 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
  }

  @media (min-width: map.get(breakpoints.$breakpoints, "md")) {
    flex-direction: row;
    align-items: center;
    column-gap: 16px;

    div {
      padding: 40px 0;
    }
  }

  @media (min-width: map.get(breakpoints.$breakpoints, "lg")) {
    column-gap: 32px;

    h2 {
      position: relative;

      &:after {
        display: inline-block;
        content: url("data:image/svg+xml,%3Csvg width='219' height='117' viewBox='0 0 219 117' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.503694 66.9218C0.445592 67.7482 1.06841 68.4652 1.8948 68.5233C2.72119 68.5814 3.43821 67.9586 3.49631 67.1322L0.503694 66.9218ZM49.812 5.53592L49.8686 7.03486L49.8689 7.03485L49.812 5.53592ZM155.963 94.3106L157.021 93.2471L157.021 93.2469L155.963 94.3106ZM215.638 93.1401C216.146 92.4855 216.027 91.5433 215.372 91.0355C214.718 90.5278 213.776 90.6468 213.268 91.3014L215.638 93.1401ZM192.595 85.8211C191.77 85.7424 191.038 86.3472 190.959 87.1719C190.88 87.9966 191.485 88.7289 192.31 88.8075L192.595 85.8211ZM210.951 114.344C210.336 114.898 210.286 115.847 210.84 116.463C211.394 117.078 212.343 117.128 212.958 116.574L210.951 114.344ZM2 67.027C3.49631 67.1322 3.49629 67.1325 3.49628 67.1326C3.4963 67.1323 3.49631 67.1322 3.49635 67.1316C3.49643 67.1305 3.49658 67.1285 3.49679 67.1256C3.49721 67.1198 3.49791 67.1104 3.49889 67.0974C3.50086 67.0716 3.50398 67.0316 3.50838 66.9779C3.51718 66.8706 3.53111 66.7087 3.55124 66.4957C3.59151 66.0696 3.65655 65.4396 3.7549 64.6342C3.95164 63.023 4.2814 60.7125 4.81215 57.9318C5.87486 52.3641 7.73735 44.9438 10.933 37.49C17.3386 22.5489 28.9174 7.82599 49.8686 7.03486L49.7554 4.03699C27.1021 4.8924 14.775 20.9151 8.17568 36.3079C4.86885 44.0211 2.95418 51.6648 1.86534 57.3694C1.32031 60.2249 0.980705 62.6025 0.777017 64.2705C0.675151 65.1048 0.607214 65.762 0.564552 66.2134C0.54322 66.4391 0.528203 66.6134 0.518421 66.7327C0.51353 66.7923 0.509947 66.8382 0.507538 66.8699C0.506333 66.8857 0.505421 66.898 0.504786 66.9067C0.504469 66.911 0.50422 66.9144 0.504039 66.917C0.503948 66.9182 0.503862 66.9195 0.503817 66.9201C0.503747 66.9211 0.503694 66.9218 2 67.027ZM49.8689 7.03485C60.3537 6.63711 68.2856 10.2594 73.9815 15.8038C79.7081 21.3779 83.234 28.9582 84.7179 36.5052C86.2061 44.0737 85.6064 51.4271 83.2984 56.5182C82.1494 59.0528 80.6127 60.9526 78.7786 62.0945C76.9718 63.2194 74.7677 63.6788 72.1045 63.1622L71.5332 66.1073C74.8868 66.7578 77.87 66.1941 80.3642 64.6413C82.8309 63.1055 84.7087 60.6731 86.0307 57.7568C88.6649 51.9461 89.2339 43.9229 87.6616 35.9264C86.0851 27.9084 82.3216 19.7353 76.0741 13.654C69.7959 7.54299 61.0691 3.60782 49.7551 4.037L49.8689 7.03485ZM72.1045 63.1622C69.5348 62.6638 67.7649 61.2943 66.6211 59.2741C65.4471 57.2005 64.8911 54.3566 65.0073 50.9302C65.2397 44.0764 68.1487 35.3667 73.1608 27.2404C78.166 19.1255 85.1741 11.7466 93.4499 7.4424C101.683 3.16012 111.186 1.90527 121.38 6.00302L122.499 3.21948C111.4 -1.24193 100.983 0.143024 92.0656 4.78086C83.1906 9.39676 75.8176 17.2183 70.6075 25.6655C65.4043 34.1014 62.2638 43.3154 62.009 50.8285C61.8816 54.5854 62.4725 58.0357 64.0105 60.7522C65.5788 63.5221 68.0861 65.4387 71.5332 66.1073L72.1045 63.1622ZM121.38 6.00302C131.727 10.1618 136.817 15.6517 139.313 21.9148C141.854 28.2905 141.799 35.6642 141.383 43.8329C140.559 59.9881 138.302 78.8666 154.906 95.3744L157.021 93.2469C141.516 77.8319 143.541 60.4199 144.379 43.9857C144.793 35.8596 144.914 27.8639 142.1 20.8041C139.242 13.6316 133.446 7.61981 122.499 3.21948L121.38 6.00302ZM154.906 95.3742C163.103 103.527 171.032 107.563 178.371 108.929C185.707 110.295 192.316 108.967 197.834 106.62C203.339 104.277 207.78 100.912 210.834 98.15C212.365 96.766 213.557 95.5252 214.369 94.6259C214.776 94.176 215.088 93.8109 215.301 93.5552C215.408 93.4274 215.49 93.3268 215.546 93.2566C215.574 93.2215 215.596 93.194 215.611 93.1745C215.619 93.1647 215.625 93.1569 215.63 93.1512C215.632 93.1483 215.634 93.146 215.635 93.1441C215.636 93.1432 215.637 93.1422 215.637 93.1417C215.638 93.1409 215.638 93.1401 214.453 92.2208C213.268 91.3014 213.268 91.301 213.268 91.3006C213.268 91.3007 213.269 91.3005 213.268 91.3006C213.268 91.3008 213.268 91.3015 213.267 91.3027C213.265 91.3052 213.261 91.3097 213.256 91.3162C213.246 91.3291 213.23 91.3499 213.207 91.3782C213.161 91.4348 213.091 91.5214 212.996 91.6349C212.807 91.8619 212.521 92.1965 212.144 92.6145C211.388 93.4509 210.267 94.6184 208.822 95.9248C205.926 98.5438 201.763 101.688 196.659 103.859C191.567 106.026 185.56 107.216 178.92 105.98C172.282 104.744 164.875 101.059 157.021 93.2471L154.906 95.3742ZM192.452 87.3143C192.31 88.8075 192.31 88.8075 192.31 88.8076C192.31 88.8076 192.31 88.8076 192.311 88.8076C192.311 88.8077 192.312 88.8078 192.313 88.8079C192.316 88.8081 192.319 88.8084 192.324 88.8089C192.333 88.8098 192.347 88.8111 192.366 88.8129C192.403 88.8165 192.459 88.8218 192.531 88.8288C192.676 88.8428 192.89 88.8634 193.163 88.8899C193.709 88.9429 194.493 89.0196 195.445 89.1142C197.349 89.3035 199.924 89.5642 202.606 89.8505C208.039 90.4302 213.723 91.0959 215.348 91.4779L216.034 88.5576C214.176 88.1207 208.24 87.4346 202.925 86.8674C200.233 86.5802 197.651 86.3186 195.742 86.1289C194.787 86.0341 194.001 85.9571 193.453 85.9039C193.179 85.8773 192.965 85.8566 192.819 85.8426C192.746 85.8356 192.69 85.8302 192.652 85.8266C192.633 85.8248 192.619 85.8234 192.609 85.8225C192.604 85.822 192.601 85.8217 192.598 85.8215C192.597 85.8213 192.596 85.8213 192.596 85.8212C192.595 85.8212 192.595 85.8211 192.595 85.8211C192.595 85.8211 192.595 85.8211 192.452 87.3143ZM215.348 91.4779C214.893 91.3711 214.989 91.0173 215.151 91.6513C215.283 92.1661 215.353 92.9789 215.331 94.0799C215.287 96.2542 214.898 99.1621 214.332 102.157C213.769 105.14 213.043 108.144 212.352 110.489C212.005 111.664 211.674 112.65 211.384 113.376C211.238 113.741 211.112 114.016 211.01 114.207C210.888 114.436 210.861 114.426 210.951 114.344L212.958 116.574C213.275 116.289 213.502 115.909 213.655 115.622C213.829 115.297 214.001 114.911 214.17 114.489C214.508 113.643 214.869 112.56 215.229 111.337C215.952 108.888 216.7 105.786 217.28 102.714C217.858 99.6547 218.282 96.5584 218.33 94.1398C218.354 92.9442 218.289 91.8134 218.058 90.9075C217.856 90.1208 217.359 88.8692 216.034 88.5576L215.348 91.4779Z' fill='%232970FF'/%3E%3C/svg%3E%0A");
        position: absolute;
        top: -20px;
        right: -210px;
      }
    }

    div {
      padding: 60px 0;
    }
  }
}
